<!doctype html>
<html>

<head>
    <title>{{ page_title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            {% block heading %}{% endblock %}
        </div>
    </div>

    <div class="container" id="form_container">
        <form id="theForm" action="{{ form_url }}" method="GET" onsubmit="return preventRepeatedSubmission();">
            <div class="form-group">
                <label for="name">Nombre completo：</label>
                <input class="form-control" type="text" inputmode="text" name="name" required>
                <small class="form-text text-muted">Campo obligatorio*</small>
            </div>
            <div class="form-group">
                <label for="mail">Correo electrónico:</label>
                <input class="form-control" type="text" inputmode="email" placeholder="cuenta@ejemplo.com" name="mail" required>
                <small class="form-text text-muted">Campo obligatorio*</small>
                <small class="form-text text-muted">Necesario para registrar los resultados.</small>
            </div>
            {% block form_questions %}{% endblock %}
            <input type="text" name="formid" value="{{ form_id }}" hidden>
            <input type="text" name="thank" value="¡Gracias por participar en este experimento!" hidden>
            <input class="btn btn-info btn-lg" type="submit" value="Enviar" id="submitBtn">
            <p class="text-muted">
                <small>Si no puede enviar su resultado, compruebe si ha introducido su nombre y si ha respondido a cada pregunta.</small>
            </p>
        </form>
    </div>

    <div class="container" style="padding-top: 60px;">
        <p class="text-center text-muted">&copy; Universidad Pública de Navarra</p>
        <p class="text-center text-muted">&copy; Laboratorio de Proyectos CCIA | EIM </p>
    </div>

    <script type="text/javascript">
        function preventRepeatedSubmission() {
            document.getElementById('submitBtn').disabled = true;
            setTimeout("submitBtn.disabled=false;", 5000);
            return true;
        };
    </script>
</body>

</html>